.call-container {
  display: flex !important;
  justify-content: space-between !important;
  border: 1px solid lightgrey !important;
  border-radius: 10px !important;
  margin: 15px auto !important;
  width: 320px;
}

.call-container-left {
  display: flex;
  gap: 15px;
  padding: 5px;
  align-items: center;
  color: grey;
  font-weight: 700;
  font-size: 15px;
}

.call-container-left-infomation > div:last-child {
  margin-bottom: 0px;
  color: grey;
  font-weight: 500;
  font-size: 12px;
}

.call-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divide-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px !important;
}

.dot-divider {
  flex-grow: 1;
  border-style: dotted;
}
