.call-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 15px auto; 
    padding: 20px; 
    width: 300px;
}

.call-container-left {
    display: flex;
    gap: 15px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: rgb(63, 61, 61);
    font-weight: 700;
    font-size: 15px;
}

.call-container-left-infomation > div {
    margin-bottom: 5px; 
}

.call-container-left-infomation > div:last-child {
    margin-bottom: 0px;
    color: grey;
    font-weight: 500;
    font-size: 12px; 
}

.call-container-right {
    display: flex;
    color: grey;
}