.call-item-wrapper {
  position: relative; 
  margin-bottom: 10px;
  width: 100%; /* Ensure all items have the same width */
  box-sizing: border-box; 
}

.call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s;
  width: 90%; /* Ensure all containers have the same width */
  box-sizing: border-box;
  height: 90px;
}

.call-container:hover {
  background-color: #f5f5f5;
}

.call-container-left {
  display: flex;
  align-items: center;
}

.call-container-left-information {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.call-info-missed-call {
  display: flex;
  align-items: center;

}
/* .call-container-left-information-call{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */
.call-info{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.call-container-right {
  display: flex;
  align-items: center;
}

.lightgrey-text {
  color: #a0a0a0;
}

.call-details-hover {
  position: absolute; 
  top: 100%; 
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  width: calc(100% - 23px); 
}

.call-details-hover ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.call-details-hover li {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
}

.call-details-hover li:last-child {
  border-bottom: none;
}

.call-details-hover li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.call-count-circle {
  display: inline-block;
  width: 20px; /* Adjust the size as needed */
  height: 20px;
  margin-left: 5px; /* Adjust the spacing as needed */
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px; /* Adjust the font size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}