header {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header svg {
  display: block;
  width: 40%;
  height: 50%;
  margin-right: -40px;
}

.header-left-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 23px;
  font-weight: 700;
}

.header-right-container {
  display: flex;
  width: 250px;
  align-items: center;
  gap: 10px;
  padding-bottom: 2px;
}

.header-inbox {
  box-sizing: border-box;
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.header-inbox {
  color: black !important;
  font-weight: normal;
  text-decoration: none;
  font-size: 13px !important;
}

.active {
  font-weight: 700 !important;
  position: relative !important;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 3px;
  background-color: orange;
}
