header {

  margin: 0 auto;
  padding: 20px;
  display: flex;

  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header svg {
  display: block;
  width: 50%; height: 50%;
}

.header-left-container {
  display: flex;
  align-items: center;
}

.header-title {
  margin-right: -120px;
}

.header-right-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}