header {

  margin: 0 auto;
  padding: 5px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header svg {
  display: block;
  width: 40%; height: 50%;
  margin-right: -40px;
}

.header-left-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 23px;
  font-weight: 700;
}

.header-right-container { 
  display: flex;
  /* justify-content: center; */
  width: 250px;
  align-items: center;
  gap: 10px;
}